################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Translation numbers/.vs/Translation numbers
/.vs/Translation-of-fractional-numbers-between-number-systems
/Translation-of-fractional-numbers/Translation-of-fractional-numbers/bin/Debug/Users/dsa.txt
/Translation-of-fractional-numbers/Translation-of-fractional-numbers/bin/Debug/Users/dsaInfo.txt
/Translation-of-fractional-numbers/Translation-of-fractional-numbers/bin/Debug/Users
/Translation-of-fractional-numbers/.vs/Translation-of-fractional-numbers/FileContentIndex/14789965-1c95-4dcc-a832-8df8c2834ebc.vsidx
/Translation-of-fractional-numbers/Translation-of-fractional-numbers/bin/Debug/Users/adminInfo.txt
